

  <nav>
  <div class="nav-wrapper">
    {{!-- <div class="nav"> --}}
      <a href="/" class="brand-logo">
        <img src="/images/images/brandlogo3.png">
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Welcome</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
         <li><a href="/resume">Resume</a></li>
      </ul>
     
      
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Welcome</a></li>
  <li><a href="/portfolio">Sign Up</a></li>
  <li><a href="/contact">Add Pet</a></li>
</ul>